header {
  background: url("../img/elfvillage.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  header .topbanner {
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Ceviche One';
    text-align: center;
    color: #fff; }
    header .topbanner h1 {
      text-shadow: 1px 1px #000; }
    header .topbanner i {
      font-size: 35px;
      color: #000;
      text-shadow: 1px 1px #fff; }
    header .topbanner blockquote {
      font-family: 'Jim Nightshade';
      font-weight: bold;
      text-decoration: none;
      font-size: 40px; }

main {
  margin: 0;
  background-color: #FFFce8; }
  main .filters {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-between; }
    main .filters #search {
      margin: 10px auto; }
      main .filters #search input {
        text-align: center;
        padding: 10px;
        width: 500px;
        border-radius: 5px; }
    main .filters #orderby {
      padding: 10px;
      font-size: 18px;
      font-weight: bold; }
      main .filters #orderby i {
        font-size: 15px; }
      main .filters #orderby li {
        padding: 5px;
        margin-right: 15px; }
  main #details ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    main #details ul li {
      padding: 10px; }
      main #details ul li figcaption {
        text-align: center;
        font-weight: bold;
        padding: 2px;
        font-size: 12px; }
      main #details ul li img {
        box-shadow: 2px 2px #556f6f;
        border-radius: 4px;
        height: 150px;
        width: 200px; }
  main .pagination {
    text-align: center; }
    main .pagination pre {
      max-width: 70%;
      margin: 0 auto;
      padding: 5px; }

footer {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 1px 1px #000;
  background-color: #6F9CEB;
  padding: 15px; }
